CALCULATOR
<br>
 Addition, Subtraction, Multiplication, or Division?
<br>
<form method="post" action="math">
	<input type="text" name="math_type">
	<br>
	<br>
<h1><<< ENTER NUMBERS >>></h1>

	<input num1="integer" name="num1">
	<input num2="integer" name="num2">
	<br>
	<br>
	<input type="submit">
</form>
