
<head>
<link href="/css/main.css" rel="stylesheet">
<title>
 Math Application
</title>
</head>

<body background="background.jpeg">
	<%=yield%>
</body>


<footer>
	<div class="Minedminds"> 
		<br>
		<br>
		Mined Minds
		<br>
		Coding Bootcamp
	</div>
</footer>
